body{
    background-color: #ccc;
    background-image:-webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#aaa),
    to(#fff)
    ); 
    background-image: -moz-linear-gradient(
    top, #aaa, #fff
    );
    background-image: linear-gradient(
    top, #aaa , #fff
    );
}
#result{
    background-image: url(../image/bg.gif);
    background-color: white;
    color:black;
    border:solid 1px#000;
    width: 100%;
    height:300px;
}
.btnmenu{
    margin :5px;
    padding : 5px;
    color:black;
    display:block;
    text-align :center;
    text-decoration :none;
    border-width: 1px;
    border-style: solid;
    border-color:black;
    background-color: white;
}
#list{
    padding:0px;
    border-width: 1px;
    border-style: solid;
    background-color: white;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
#list > li{
    padding: 10px 5px 10px 10px;
    list-style: none;
    border-bottom-color: #ccc;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
#list a{
    color: black;
    text-decoration: none;
}
input,textarea{
    border-radius: 10px;
    border-width :1px;
    border-style: solid;
    background-color: white;
    color : black;
    width: 300px;
    height:44px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
textarea{
    height:80px;
}
#board{
    background-color: white;
    border:solid black;
}

div#color button:nth-child(1){
    background-color: #f00;
    border-radius: 3cm;
}
div#color button:nth-child(2){
    background-color: #0f0;
    border-radius: 3cm;
}
div#color button:nth-child(3){
    background-color: #00f;
    border-radius: 3cm;
}